<div class="homepage--container">
    <a routerLink="/manageEmployees" class="card--container--link">
    <div class="home--card--container">
        <div class="p-3 d-flex flex-column card--title">
            <i class="pi pi-users color1 h1 d-flex "></i>
            <h3>Manage</h3>
        </div>
    </div>
</a>
<a routerLink="salary" class="card--container--link">
    <div class="home--card--container">
        <div class="p-3 d-flex flex-column card--title">
            <i class="pi pi-dollar color2 h1 d-flex "></i>
            <h3>salary</h3>
        </div>
    </div>
</a>

</div>